PORT=3000


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:Andres10@localhost:5432/ConsultorioVirtual?schema=public"
TOKEN_SECRET="makeitrealtop28"
TOKEN_EXPIRES="1h" 
ORIGIN=*
RATE_LIMIT_POINTS=2
RATE_LIMIT_DURATION=1
MERCADOPAGO_ACCESS_TOKEN="TEST-2544508025553016-101014-4be97ec9d17afa057283a15c05d50ebb-1506947034"
EMAIL="AdConsultorioVirtual@outlook.com"
EMAIL_PASSWORD="Colombia123*"
